:root{
    --red:#d01c28;
    --gray:#2e2e2e;
}
.maindiv{
    margin: 0px 70px 0px 70px;
}
main{
    display: flex;
    align-items: center;
    height: calc(100vh-72px);
    width: 550px;
    
}
.mainContent h1{
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight:900;
    line-height: 80px;
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    width: 500px;
    
}
.mainContent p{
    font-weight: 500;
    width: 500px;
    color: gray;
    margin-bottom: 15px;
}

.mainImg img{
    width: 600px;
    height: 400px;
}
.mainBtn{
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
    
}
.mainBtn button{
    height: 20px;
    font-weight: 900;
    text-align: center;
}
.secondarybtn{
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;

}
.shopping p{
    font-size: 14px;
    margin-bottom: 8px;
}
.icon{
    display: flex;
    gap: 16px;
}
.icon img{
    width: 30px;
    height: 25px;
}